
.Nav-header{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    background:grey;
    height: 56px;
}
.NavBar {
    display: flex;
    height: 100%;
    align-items: center;
    padding:0 1rem;
}
.logo {
    margin-left: 1 rem;
}
.logo a {
    color: white;
    text-decoration: none;
    font-size:1.5rem;

}
.spacer {
    flex:1;
}
.right-nav ul {
    list-style: none;
    margin:0;
    padding:0;
    display:flex;
}

.right-nav li {
    padding:0 0.5rem;
}
.right-nav a {
    color: white;
    text-decoration: none;
}

.right-nav a:hover,
.right-nav a:active{
    color: rgba(255, 0, 0, 0.502)
}

.side-button{
    display: hidden;
}
