.homePage-container{
    display: flex;
    height:100%;
    width: 100%;
    background-image: url('backgroundpicture.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    justify-content: center;
}
section {
    color:white;
    justify-content: center;
    position: absolute;
    display:flex;
    height: 100%;
    flex-direction: column;
    align-content:center;
    text-align: left;
}

p {
    font-size: 18px;
}
button{
    background:rgba(0, 0, 0, 0.0);
    border:none;
    margin-bottom: 15px;
   
}
button a {
    text-decoration: underline;
    font-size:1.5rem;
    color:white;
}

button a:hover{
      color: rgba(255, 0, 0, 0.502);
}
