.homePage-container{
    display: flex;
    height:100%;
    width: 100%;
    background-image: url('backgroundpicture.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
section {
    color:white;
    justify-content: center;
    position: absolute;
    display:flex;
    height: 100%;
    flex-direction: column;
    align-content:center;
    text-align: left;
}

